{%if liste==[]%}
<div class="stream-posts">
    <div class="stream-post">
        <div class="sp-author">
            <a href="#" class="sp-author-avatar"><img src="" alt=""></a>
            <h6 class="sp-author-name"><a href="#">John Doe</a></h6></div>
        <div class="sp-content">
            <div class="sp-info">posted 1h ago</div>
            <p class="sp-paragraph mb-0">Auk Soldanella plainscraft acetonylidene wolfishness irrecognizant Candolleaceae provision Marsipobranchii arpen Paleoanthropus supersecular inidoneous autoplagiarism palmcrist occamy equestrianism periodontoclasia mucedin overchannel goelism decapsulation pourer zira</p>
        </div>
        <!-- /.sp-content -->
    </div>
</div>
{%else%}
<p class="text-center" style="margin-top:170px">
    <i class="fa fa-bolt success fa-5x text-center"></i>
    <h4 class="text-center">AUCUNE ACTIVITE.</h4>
    <br><br><br>
  </p>
{%endif%}