    {% extends "layout/admin.html" %}

{% block summurnote %}

<link rel="stylesheet" href="{{ url_for('static', filename='summnernote/summernote-lite.css')}} ">
<script src="{{ url_for('static', filename='summnernote/summernote-lite.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css')}}">
{% endblock  %}

    {% block body %}
        <div class="row">
          <div class="col-md-12 mt-5"> 
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card card-outline-secondary box-shadow--3dp">
                  <div class="card-body">
                    <h3><b>Modification du PDF de la publication</b></h3> 
                    <small> {{titre}} </small>
                    <br>
                    {% with messages= get_flashed_messages(with_categories=true) %}
                    {% if messages  %}
                    {% for category, message in messages %}
                    {%if category!="danger"%}
                        <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
                            <span class="alert-icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong class="text-gray-900">{{ message }}!</strong> 
                            
                        </div>
                    {%else%}
                        <div class="alert round bg-{{ category }} alert-icon-left alert-dismissible mb-2" role="alert">
                            <span class="alert-icon">
                                <i class="fa fa-thumbs-o-down"></i>
                            </span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong class="text-gray-900">{{ message }}!</strong>
                            
                        </div>
                    {%endif%}
                    
                    {% endfor %}
                    {% endif %}
                    {% endwith %}                    
                                            
                    <form  method="POST" enctype="multipart/form-data">
                      {{ form.csrf_token }}

                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="control-label mb-1" > <small>Le document en PDF seuelement</small> </label>
                              {% if form.image_article.errors %}
                              {{ form.image_article(class="form-control is-invalid")}}
                              <i class="form-group__bar"></i>
                              <div class="invalid-feedback">
                                  {% for error in form.image_article.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                              {% else %}
                              {{ form.image_article(class="form-control")}}
                              <i class="form-group__bar"></i>
                              {% endif %}
                          </div>
                          </div>

                        </div>

                        <div class="text-center mb-1">
                            <button class="btn btn-primary btn-min-width mr-1 mb-1" id="submit" name="submit" type="submit">
                                <i class="la la-folder-o"></i> Modifier
                            </button>
                            <a class="btn btn-danger " href="{{url_for('publication.index')}}  ">Annuler</a>     
                        </div>
                      </form>
                  </div><!--/card-block-->
                </div><!-- /form card login -->
              </div>
            </div>
          </div><!--/col-->
        </div><!--/row-->

    {% endblock body %}


    {%block jsblock%}
        <script>    
          $('#summernote').summernote({
          height: 300,                 // set editor height
          minHeight: null,             // set minimum height of editor
          maxHeight: null,             // set maximum height of editor
          focus: true                  // set focus to editable area after initializing summernote
          });
      
          $(document).ready(function() {
          $('.js-example-basic-single').select2();
          $('.js-example-basic-singled').select2();
          });
      </script>
   
    {%endblock%}