<div class="service-area" style="background-color:#f8f9fa;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 50px;margin-bottom: 50px;">
                <h1 class="text-center" style="font-weight: 900 bold;font-size:70px; text-shadow: -1px -1px white, 1px 1px #333; color:#AC9757; font-family: Trattatello, fantasy;">AGIR AVEC ASDI</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-md-4" style="margin-bottom:50px">
                    <div class="single-defination">
                        <div style="font-size: 24px;" class="text-center">
                            <span class="text-info">
                            <i  class="fas fa-male fa-male fa-5x"></i>
                        </span>
                        </div> 
                        <br>
                        <h2 style="font-weight:bold; font-size:40px; font-family: Chalkduster, sans-serif;" class="mb-20 text-center text-info">ASSISTER</h2>
                        
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="text-center">Changez la vie en assistant des personnes en situation difficile, agissez avec <b>ASDI</b>.</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom:50px">
                    <div class="single-defination">
                        <div style="font-size: 24px;" class="text-center">
                            <span class="text-warning">
                            <i  class="fas fa-university fa-5x"></i>
                        </span>
                        </div> 
                        <br>
                        <h2 style="font-weight:bold; font-size:40px; font-family: Chalkduster, sans-serif;" class="mb-20 text-center text-warning">ÉDUQUER</h2>
                        
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="text-center">Protegez l'environnement en éduquant sur la lutter contre les catastrophes naturelles, agissez maintenant avec <b>ASDI</b>.</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom:50px">
                    <div class="single-defination">
                        <div style="font-size: 24px;" class="text-center">
                            <span class="text-danger">
                            <i  class="fas fa-bullhorn fa-5x"></i>
                        </span>
                        </div> 
                        <br>
                        <h2 style="font-weight:bold; font-size:40px; font-family:Chalkduster, sans-serif;" class="mb-20 text-center text-danger">MOBILISER</h2>
                        
                        <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="text-center">Participez à la mobilisation de la population pour eviter les maladies hydriques et les virus du 21 ieme siecle à côte de l'<b>ASDI</b>.</p>
                    </div>
                </div>


        </div>
        
    </div>
</div>