        <!--? About Area Start -->
        <section class="support-company-area fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2 style="color:#AC9757; font-weight: bold;">Ensemble nous pouvons.</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top" style="font-size: 25px; line-height: 1.5em;">Promouvoir un développement durable dans le milieu 
                            rural, périurbain et urbain en vue d’améliorer les conditions de vie 
                            des populations dans la région des Grands Lacs.</p>
                        <a href="#" class="border-btn">Faire un don</a>
                    </div>
                </div>
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{{ url_for('static', filename='inte/assets/img/gallery/enfant.jpg')}}" alt="">
                    </div>

                </div>
            </div>
        </section>
        <!-- About Area End -->