        <!--? Visit Our Tailor Start -->
        <div class="visit-tailor-area fix">
            <!--Right Contents  -->
            <div class="tailor-offers"></div>
            <!-- left Contents -->
            <div class="tailor-details">
                <h2 style="color:black; font-weight: bold;">Pour une vie humaine paissible.</h2>
                <p>ASDI-RDC poursuit la mission de renforcer la résilience des populations affectées 
                    par des conflits, des catastrophes naturelles, des épidémies, l’insécurité alimentaire, 
                    la pauvreté chronique et les déficiences structurelles et de protection. </p>
                <p class="pera-bottom">Les équipes ASDI-RDC se mobilisent dans des situations d’urgence 
                    auprès des populations les plus vulnérables et des populations déplacées, ainsi que 
                    sur des activités sur le long terme telles que des travaux de réhabilitation, des 
                    projets de relance agricole ou encore la mise en place d’un système très efficace de 
                    partager à la communauté humanitaire les alertes au travers les évaluations 
                    multisectorielles soutenue par une expertise scientifique.</p>
                <div class="footer-tittles">
                    <p>ASDI RDC / ONG</p>
                </div>
            </div>
        </div>
        <!-- Visit Our Tailor End -->