<!-- slider Area Start-->
<div class="slider-area position-relative">
    <div class="slider-active dot-style">
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Ensemble</h1>
                            <P data-animation="fadeInUp" data-delay=".4s">Changons les conditions <br> de la vie
                                humaines.</P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp"
                                    data-delay=".8s">Join Us Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Environment</h1>
                            <P data-animation="fadeInUp" data-delay=".4s">Provide us a green and healthy
                                life<br> we need to protect </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp"
                                    data-delay=".8s">Join Us Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Environment</h1>
                            <P data-animation="fadeInUp" data-delay=".4s">Provide us a green and healthy
                                life<br> we need to protect </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a href="industries.html" class="hero-btn mb-10" data-animation="fadeInUp"
                                    data-delay=".8s">Join Us Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->